<!doctype html>
/[if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/[if IE 7] <html class="no-js ie7 oldie" lang="en">
/[if IE 8] <html class="no-js ie8 oldie" lang="en">
/[if IE 9] <html class="no-js ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:itemscope => "", :itemtype => "http://schema.org/Product", :lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
      / Title and meta tag /
      %title Sabar Dasgupta
      %meta{:content => "", :name => "description"}/
      %meta{:content => "", :name => "keywords"}/
      %meta{:content => "humans.txt", :name => "author"}
        / Favicon /
        %link{:href => "favicon.png", :rel => "shortcut icon", :type => "image/x-icon"}/
        / Facebook Metadata /
        %meta{:content => "", :property => "fb:page_id"}/
        %meta{:content => "", :property => "og:image"}/
        %meta{:content => "", :property => "og:description"}/
        %meta{:content => "", :property => "og:title"}/
        / Google+ Metadata /
        %meta{:content => "", :itemprop => "name"}
          %meta{:content => "", :itemprop => "description"}
            %meta{:content => "", :itemprop => "image"}
              %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
                = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
                = javascript_include_tag "application", "data-turbolinks-track" => true
                = csrf_meta_tags
  %body
    = yield